<?xml version="1.0" encoding="utf-8"?> 
<connectionStrings>
  <add name="UserDBContext" 
       connectionString="Data Source=DESKTOP-IGM987T\SQLEXPRESS;Initial Catalog=lupybakery_data;User Id=lutpiah;Password=lutpiah140925" 
       providerName="System.Data.SqlClient"/>
  
  <add name="IdentityDB" 
       connectionString="Data Source=DESKTOP-IGM987T\SQLEXPRESS;Initial Catalog=lupybakery_auth;User Id=lutpiah;Password=lutpiah140925" 
       providerName="System.Data.SqlClient" /> 
  
  <add name="ErrLoggerDB" 
       connectionString="Data Source=DESKTOP-IGM987T\SQLEXPRESS;Initial Catalog=lupybakery_auth;User Id=lutpiah;Password=lutpiah140925" 
       providerName="System.Data.SqlClient" />
  
  <add name="MongoDBData" 
       connectionString="mongodb://localhost:27017/Mahasiswacode" />
</connectionStrings>
